@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic);


* {
  font-family: 'Raleway';
}

/*Nav-bar Styling*/

.nav-bar {
  text-align: right;
  padding-right: 0;
  line-height: 200px;
  font-size: 1.3em;
}

.header {
  height: 200px;
}

.header h2 {
  margin: 0;
  padding: 0;
  line-height: 200px;
  font-size: 2.7em;
}

.contact {
  padding-left: 15px;
}

.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}


img {

  display: block;
  width: 100%;
}

.post {
  /*background: #ddd;*/
  border-bottom: 1px solid #555;
  min-height: 900px;
}


a, a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
}

.post-meta p {
  display: inline;
  padding-right: 15px;
  font-size: 1.2em;
}

.post-meta span {
  font-weight: bold;
}

.post-meta {
  margin-bottom: 10px;
}

.post-meta:last-child {
  display: inline-block;
  float: right;
}


.post h2 {
  margin-bottom: 15px;
}


.preview-text {
  height: 150px;
  overflow: hidden;
}

.read-more {
  display: block;
  font-size: 1.5em;
  margin: 40px auto;
  width: 200px;
  padding: 15px;
  text-align: center;
  border: 2px solid #333;
  transition: 0.3s;
}
.read-more:hover {
  color: #fff;
  border-color: #000;
  background: #000;
  transition: 0.3s;
}

.content {
  padding-top: 45px;
  font-size: 1.2em;
}

li {
  list-style: none;
  margin: 20px 0;
}

ul {
  padding: 0;
}

.delete,
.update,
.new,
.save {
  width: 200px;
  margin-bottom: 7px;
}

/*Comment Data*/


.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: auto;
  margin-bottom: 10px;
}
.comment-meta {
  display: inline-block;
  min-height: 240px;
  /*padding-top: 25px;*/
  text-align: center;
  /*border: 1px solid green;*/
  height: 100%;

}
.comment-meta h4 {
  margin: 0 0 30px 0;
  font-weight: 700;
}
.comment {
  background: #eee;
  border-radius: 5px;
}

.comment-content {
  border: 1px solid red;
  min-height: 240px;
}

.comment-block {
  background: #eee;
  margin-bottom: 20px;
  padding: 20px;
}
.commentary {
  /*border: 1px solid blue;*/
  min-height: 240px;
}
.commentary p:first-child {
  width: 200px;
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 26px;
  border-bottom: 1px solid black;
}

.tags {
  font-size: 1.2em;
  text-align: right;
  font-style: italic;
}

.tag-main {
  font-weight: 700;
  font-style: normal;
}

.new {
  margin-bottom: 25px;
}
