<div class="container-fluid">

  <header class="jumbotron">
    <div class="container">
      <h2 id="title">{{#link-to 'index'}}Welcome to BlogBlogBlog{{/link-to}}</h2>
    </div>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
  </header>

  <div class="container">
    {{outlet}}
  </div>

</div>
