<div class="container-fluid">

  <header class="jumbotron">
    <div class="container">
      <h2 id="title">{{#link-to 'index'}}Welcome to BlogBlog{{/link-to}}</h2>
    </div>
  </header>

  <div class="container">
    {{outlet}}
  </div>

</div>
