<h1>Blog</h1>

{{new-post savePost="savePost"}}

<div class="blog-post">
  {{#each model.posts as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</div>

<h2>Comments</h2>

<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.commentary}}</li>
    <li>By: {{comment.user}}</li>
  {{/each}}
</ul>
