<h1>Blog</h1>

{{new-post savePost="savePost"}}

<div class="blog-post">
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</div>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
